<h1>Edit a Song</h1>
<br>
<form method="post" action="/songs/<%=@song.slug%>">
    <input type='hidden' id='hidden' value='patch' name='_method' />
    <p>Name<input type="text" name="song[name]" id="Name" value='<%=@song.name%>' /></p>
    <br>
    <p>Artist(s):</p>
    <%Artist.all.each do |a|%>
        <input type="radio" id="<%=a.id%>" value="<%=a.id%>" name="song[artist_id]" <%='checked' if @song.artist_id == a.id%>/><label for="<%=a.id%>"><%=a.name%></label>
    <%end%>
    <br>
    <p>Create New Artist</p>
    <input type="text" id="Artist Name" name="artist[name]" />
    <p>Genre(s):</p>
    <%Genre.all.each do |a|%>
        <input type="checkbox" id="<%=a.id%>" value="<%=a.id%>" name="song[genre_ids][]" <%='checked' if @song.genres.include?(a)%>% /><label for="<%=a.id%>"><%=a.name%></label>
    <%end%>
    <br>
    <input type="submit" value="Save"/>
</form>